@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

.slick-dots li.slick-active div {
  background-color: rgb(130, 130, 130) !important;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: rgb(19, 19, 19);
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.title--general {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.title--text {
  font-size: 24px;
  font-weight: 600;
}
.subtitle--general {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 500;
}
.subtitle--text {
  font-size: 21px;
  font-weight: 500;
  line-height: 110%;
}
.button--general {
  background-color: rgb(19, 19, 19);
  border: 1px solid white;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button--general:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}
.button--secondary {
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  padding: 3px;
}
.button--secondary:hover {
  transform: scale(1.10);
}
.button--tertiary {
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: rgb(19, 19, 19);
}
.button--tertiary:hover {
  transform: scale(1.05);
  background-color: white;
  color: black
}
a:hover {
  text-decoration: underline;
}
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__content {
  background-color: rgb(19, 19, 19);
}
.logo {
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
}
.hero__contactphone {
  display: none;
}
.skills__githidden {
  display: none;
}
.contacts__list li {
  transition: all 0.2s ease-in-out;
}
.contacts__list li:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2px #ffffff);
}
.cta__download {
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  padding: 5px 15px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: rgb(19, 19, 19);
  text-decoration: none !important;
  display: inline-block;
}
.cta__download:hover {
  transform: scale(1.05);
  background-color: white;
  color: black
}
.modal__demo {
  text-decoration: none !important;
}






@media (max-width: 1110px) {
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal__stack ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1000px) {
  .modal__slidercontainer {
    width: 100%;
  }
  .modal__hero {
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;
  }
  .modal__stack ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .modal__image {
    width: 540px;
    height: auto;
  }
  .modal__slider {
    width: 540px;
    height: auto;
  }
  .projects__image {
    width: 100%;
  }
  .projects__image img {
    width: 100%;
  }
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .modal__image {
    width: 450px;
    height: auto;
  }
  .modal__slider {
    width: 450px;
    height: auto;
  }
  .modal__stack ul {
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
  }
  .testimonials__info {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .skills__decoration {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .skills__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .skill__container {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .modal__stack ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-height: 600px) {
  .modal__content {
    overflow-y: scroll;
    height: 400px;
  }
}
@media (max-width: 550px) {
  .modal__image {
    width: 480px;
    height: auto;
  }
  .modal__slider {
    width: 280px;
    height: auto;
  }
  .projects__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects__image {
    width: 100%;
  }
  .projects__image img {
    width: 100%;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__list li {
   justify-content: center;
  }
  body {
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .modal__description {
    flex-direction: column;
    align-items: start;
  }
  .modal__description a {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .modal__stack ul {
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
  .testimonials__author > div > div {
    flex-direction: column;
    align-items: start;
    gap: 0px;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
}
@media (max-height: 450px) {
  .modal__content {
    height: 300px;
  }
}
@media (max-width: 380px) {
  .modal__image {
    width: 240px;
    height: auto;
  }
  .modal__slider {
    width: 240px;
    height: auto;
  }
  .modal__stack ul {
    grid-template-columns: repeat(1, 1fr);
  }
}